<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <h1>Добавление товара</h1>
    <form action="/add_product" method="POST" enctype="multipart/form-data">
        <label for="name">Название:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="price">Цена:</label><br>
        <input type="number" id="price" name="price" required><br><br>

        <label for="description">Описание:</label><br>
        <input type="text" id="description" name="description" required><br><br>

        <label for="image">Изображение:</label><br>
        <input type="file" id="image" name="image" required><br><br>

        <input type="submit" value="Добавить товар">
    </form>
    
</body>
</html>