<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Онлайн магазин</h1>
    <h2>каталог price</h2>
    <style>
        .cart-img{
            position: relative;
            width: 100px;
        }
        .cart-img::after{
            content: "{{ cart_count }}";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: black;
            color: white;
            text-align: center;
            font-size: 24px;
        }
    </style>
    <div class="cart-img">
        <img src="{{ url_for('static', filename='img/aaaaa.png') }}" alt="" width="100"> 
    </div>
    
    <div class="products">
        {% for product in products %}
            <div class=""product>
                <h3>{{ product[1] }}</h3>
                <p>{{ product[3] }}</p>
                <p>Цена: {{ product[2] }} rub</p>
                {% if  product[4] %}
                    <img src="{{ product[4] }}" width="200">
                {% endif %}
                <a href="{{ url_for('product', product_id=product[0]) }}"><button>Подробнее</button></a>
                <a href="{{ url_for('add_to_cart', product_id=product[0]) }}"><button>добавить в корзину</button></a>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>